*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

a:hover {
    background-color: gray;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 60px;
    line-height: 1;
}

h2 {
    margin: 0; 
    font-size: 30px;
}

/*
h1, h2 {
    font-weight: 400px;
}
*/

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0px;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}

h3 {
    margin-bottom: 0;
}

/* Profile
---------------------------------- */
header {
    background-color: #2F3061;
    color: #F7FFF7;
    background-size: contain;
    text-shadow: 5px 5px black;
}

#HeaderBio {
    font-size: 20px;
}

/* Projects
---------------------------------- */
.projects {
    background-color: #F7FFF7;
}

.Project1 a, .Project2 a, .Project3 a, 
.Project4 a {
    color: #F7FFF7;
    background-color: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.Project1 img, .Project3 img, .Project4 img {
    width: 600px;
}

.Project1, .ProjectTwo-KingsLanding, .Project3 {
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}

/* Tile background for project section */
/* .projects {
    background-color: #fff;
  background-image: linear-gradient(
      45deg,
      rgb(230,231,237) 25%,
      transparent 25%,
      transparent 75%,
      rgb(230,231,237) 75%,
      rgb(230,231,237)
    ),
    linear-gradient(
      -45deg,
      rgb(230,231,237) 25%,
      transparent 25%,
      transparent 75%,
      rgb(230,231,237) 75%,
      rgb(230,231,237)
    );
    background-size: 60px 60px;
  background-repeat: repeat;
}

.projects h2, .projects h3, .projects p {
    font-weight: bold;
} */

/* Work Experience
---------------------------------- */
.work-experience {
    background-color: #A1C6D7;
}

.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

 .job-one, .job-two {
    border-bottom: 1px dashed #343434;
}

/* .job-two {
    border-bottom: 1px dashed #343434;
}  */

/* Education and Certificates
---------------------------------- */

.education {
    background-image: url(../images/FIU-MMC.jpeg);
    background-size: cover;
    background-position: right center;
    /* background-position: top right; */
    padding-bottom: 120px;
    color: white;
    padding-top: 50px;
}

.education p {
    width: 60%;
}

/* To add "window" effect on education section */
/* .educationdiv {
    background-color: rgba(211,211,211, 0.3);
} */

/* width: fit-content; */


/* Contact Info
---------------------------------- */
footer {
    background-color: #343434;
    color: #F7FFF7;
    
}
.contact-list {
    list-style-type: none;
    padding: 0;
    
}

.contact-list a {
    color: #A1C6D7;
    padding: 15px;
    display: inline-block;
}


/*
footer a {
    color: lightblue;
}
*/


/* Responsive 
---------------------------------- */

@media screen and (min-width: 750px) {
    header, footer {
        text-align: center;
    }

    .contact-list {
        display: flex;
        justify-content: center
    }

}

@media screen and (max-width: 749px) {
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }

    h2 {
        line-height: 1;
    }

    .contact-list a {
        padding: 5px;
    }
    
     .Project1 img, .Project3 img, .Project4 img {
        width: 100%;
        height: auto;
    }

    .education {
        background-position: center;
    }

}
